.titleinfo h2{
  font-size: 16px;
  color: #979797;
}

.fullimages{
  margin:  auto 0;
  text-align: center;
  width: 50%;
}

.fullimages img {
  padding-top: 5%;
  max-width:  90%;
  padding-bottom: 10%;
}

.refinment{
  margin:  auto 0;
  padding-top: 20%;
  padding-left:5%

}
.refinment h3{
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
}

.refinment p {

  font-size: 1em;
}
.refinment img{
  max-width:  100%;
}

.scalemodel{
  margin:  auto 0;
  width: 50%;
  padding-top: 5%;
}
.scalemodel h3{
  font-family: 'Heebo', sans-serif;
  font-weight: bold;

}
.scalemodel p {

  font-size: 1em;
}
.scalemodel img {
  max-width: 100%;
  padding-top: 5%;
}

.scalemodel  {
  text-align: right;
}

.brandContainer5 {
  height: 100vh;
  width: 100%;
  margin: 0 !important;
}
.brandLanding5 {
  background: url('../assets/images/ChevyJourney/background.jpg');
  color: white;
  font-family: 'Heebo';
  max-width: 100%;
}

.mugenTitle {
  position: absolute;
  bottom: 25%;
  padding-left: 70px;
}
