
.ideations{

}
.brandContainer8 {
  height: 100vh;
  width: 100%;
  margin: 0 !important;
}
.brandLanding8 {
  background: url('../assets/images/DreamGarage/background.jpg');
  color: white;
  font-family: 'Archivo Black';
  max-width: 100%;
}

.mugenTitle {
  position: absolute;
  bottom: 25%;
  padding-left: 70px;
}

.banner img{
  max-width: 100%;
  width: 100%;
}

.banner {
  margin-left: 0 !important;
  margin-right: 0  !important;
  width: 100%;
}

.title{
  padding: 0  !important;
}


.garagecontent {
  margin-top: 5%;
}
.garagecontent img{
  max-width:100%;

}

.garagecontent video{
  max-width:100%;
  max-height: auto;
  padding-left: 15%;
}

.ideations img{
  max-width: 100%;
  padding-top: 10%;
}

.ideations{
  padding-bottom: 10%;
}

.about{
  text-align: center;
  padding-bottom: 15%;
}
.about h2 {
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  padding-top:15%;
}
.garagecontent h2 {
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
}



/* Mobile Dream Garage */

.mobileUIUXtxt h2{
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.Mobileabout h2 {
  text-align: center;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

.Mobileabout p {
  font-size: 0.8em;
}

.ideations h3 {
  font-size: 1em;
  color: #6a6a6a;
  border-bottom: 1px solid #6a6a6a;
  padding-bottom: 2%;

}
